<div class = "container">
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_top_howto_banner.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_howto_header.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_top_howto2.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_top_howto3.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_top_howto4.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_top_howto5.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_howto6.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_howto7.jpg', class:"img-fluid" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag 'home_howto8.jpg', class:"img-fluid" %>
    </div>
  </div>
</div>