  <p class="text-center text-danger">
  <%= flash[:alert] %>
  </p>
  <div class = "container">

    <div class = "row">
      <div class = "col">
        <%= image_tag 'home_top.gif', class:"img-fluid home_top" %>
      </div>
    </div>

    <div class = "js-animation">
      <div class = "row">
        <div class = "col">
          <%= image_tag 'home_top_explain.jpg', class:"img-fluid" %>
        </div>
      </div>


      <div class = "row mt-5">
        <div class = "col">
          <%= image_tag 'home_top_about.jpg', class:"img-fluid" %>
        </div>
      </div>

      <div class = "row mt-5">
        <div class = "col">
          <%= image_tag 'home_top_merit_banner.jpg', class:"img-fluid" %>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a href="#photo1" class="nav-link active text-dark font-weight-bold" data-toggle="tab">パスワード機能</a>
      </li>
      <li class="nav-item">
        <a href="#photo2" class="nav-link text-dark font-weight-bold" data-toggle="tab">分析で見える化</a>
      </li>
      <li class="nav-item">
        <a href="#photo3" class="nav-link text-dark font-weight-bold" data-toggle="tab">マイページ充実</a>
      </li>
      <li class="nav-item">
        <a href="#photo4" class="nav-link text-dark font-weight-bold" data-toggle="tab">UIの向上</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div id="photo1" class="tab-pane active">
        <%= image_tag 'home_top_merit1.jpg', class:"img-fluid" %>
      </div>
      <div id="photo2" class="tab-pane">
        <%= image_tag 'home_top_merit2.jpg', class:"img-fluid" %>
      </div>
      <div id="photo3" class="tab-pane">
        <%= image_tag 'home_top_merit3.jpg', class:"img-fluid" %>
      </div>
      <div id="photo4" class="tab-pane">
        <%= image_tag 'home_top_merit4.jpg', class:"img-fluid" %>
      </div>


    <div class = "row mt-5">
      <div class = "col">
        <%= image_tag 'home_top_howto_banner.jpg', class:"img-fluid" %>
      </div>
    </div>

    <div class = "row">
      <div class = "col">
      <div class = "home_top_merit">
        <div class="nest-merit"><%= image_tag 'home_top_howto1.jpg', class:"img-fluid" %></div>
        <div class="nest-merit"><%= image_tag 'home_top_howto2.jpg', class:"img-fluid" %></div>
        <div class="nest-merit"><%= image_tag 'home_top_howto3.jpg', class:"img-fluid" %></div>
        <div class="nest-merit"><%= image_tag 'home_top_howto4.jpg', class:"img-fluid" %></div>
        <div class="nest-merit"><%= image_tag 'home_top_howto5.jpg', class:"img-fluid" %></div>
        <div class="nest-merit"><%= image_tag 'home_top_howto6.jpg', class:"img-fluid" %></div>
      </div>
      </div>
    </div>

    <div class = "row mt-5">
      <div class = "col">
        <%= image_tag 'home_top_qa_banner.jpg', class:"img-fluid" %>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col">
      <ul id="accordion_menu">
        <li>
          <a data-toggle="collapse" href="#menu01" aria-controls="#menu01" aria-expanded="false" class="card mb-3">
            <div class="question">Q.....パスワードを忘れました。復元する方法はありますか？</div>
          </a>
        </li>
        <ul id="menu01" class="collapse mt-3 mb-3">
          <li class="answer">A.....申し訳ございませんが、現在そのような機能はありません。</li>
        </ul>
        <li>
          <a data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false" class="card mb-3">
            <div class="question">Q.....チームでの使用の場合、上限人数はありますか？</div>
          </a>
        </li>
        <ul id="menu02" class="collapse mt-3 mb-3">
          <li class="answer">A.....上限は設けていないので何人でもお使いいただけます。ただし推奨は6.7人です。</li>
        </ul>
        <li>
          <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false" class="card mb-3">
            <div class="question">Q.....アプリケーションについて改善して欲しいことがあります。</div>
          </a>
        </li>
        <ul id="menu03" class="collapse mt-3 mb-3">
          <li class="answer">A.....貴重なご意見誠にありがとうございます。ログイン後のマイページにお問い合わせフォームがありますので、そちらから送信をお願い致します。</li>
        </ul>
        <li>
          <a data-toggle="collapse" href="#menu04" aria-controls="#menu04" aria-expanded="false" class="card mb-3">
            <div class="question">Q.....スマートフォンでも使用できますか？</div>
          </a>
        </li>
        <ul id="menu04" class="collapse mt-3 mb-3">
          <li class="answer">A.....PCでの使用を前提としたレイアウト設計のため、スマホでの使用は推奨しておりません。</li>
        </ul>
        <li>
          <a data-toggle="collapse" href="#menu05" aria-controls="#menu05" aria-expanded="false" class="card mb-3">
            <div class="question">Q.....作成した利用者アカウントやルームが使用できなくなっています。</div>
          </a>
        </li>
        <ul id="menu05" class="collapse mt-3 mb-3">
          <li class="answer">A.....本アプリケーションはポートフォリオ作品です。そのため定期的にステータスを無効にしたり、データベースを消去しています。</li>
        </ul>
      </ul>
      </div>
    </div>
  </div>

<%= render 'layouts/footer' %>
