<h1>Users::Analysis#Edit</h1>
<p>Find me in app/views/users/analysis/edit.html.erb</p>

<h3><%= @room_user.user.name %>さんの分析</h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#photo1" class="nav-link active" data-toggle="tab">終了したタスク一覧</a>
    </li>
    <li class="nav-item">
      <a href="#photo2" class="nav-link" data-toggle="tab">個別ログ一覧</a>
    </li>
    <li class="nav-item">
      <a href="#photo3" class="nav-link" data-toggle="tab">実行中のタスク</a>
    </li>
  </ul>

  <!-- 写真部分 -->
  <div class="tab-content">
    <div id="photo1" class="tab-pane active">
      <% @finished_tasks.each do |finished_task| %>
        <%= finished_task.updated_at %>
        <%= finished_task.body %><br>
      <% end %>
    </div>
    <div id="photo2" class="tab-pane">
      <% @logs.each do |logs| %>
        <%= logs.created_at %>
        <%= logs.body %><br>
      <% end %>
    </div>
    <div id="photo3" class="tab-pane">
      <% @on_task.each do |task| %>
        <%= task.created_at %>
        <%= task.body %><br>
      <% end %>
    </div>
  </div>
