<p class="text-center text-danger"><%= flash[:alert_analysis] %></p>
<div class = "row mt-3">
  <div class=" col-6 offset-3">
    <div class="field"><h1><span class="text-light font-weight-bold"><%= @room.name %></span><span class="h4 font-weight-bold">ルームの分析</span></h1></div>
  </div>
</div>

<div class = "row mt-3">
  <div class="col-2 offset-1 mt-5">
    <div class="field mb-2">
      <span class="text-light font-weight-bold h5">ルーム</span>
    </div>
    <div class="field mb-2"><%= link_to "#{simple_body(@room.name)}", analysis_path(current_user.present_room),class:"text-dark font-weight-bold h6" %></div>
    <div class="field mb-2">
      <span class="text-light font-weight-bold h5">メンバー</span>
    </div>
    <% @room_users.each do |room_user| %>
      <div class="field mb-2">
        <%= attachment_image_tag room_user.user, :image, size: "20x20", format: 'jpg', fallback: "no_image.jpg", class: "" %>
        <%= link_to "#{room_user.user.name}", edit_analysis_path(room_user), class:"text-dark h6" %>
      </div>
    <% end %>
  </div>
  <div class ="col-8">
    <ul class="nav nav-tabs nav-justified mt-5">
      <li class="nav-item">
        <a href="#photo1" class="nav-link active text-dark font-weight-bold" data-toggle="tab">実行中のタスク</a>
      </li>
      <li class="nav-item">
        <a href="#photo2" class="nav-link text-dark font-weight-bold" data-toggle="tab">タスク到達度</a>
      </li>
      <li class="nav-item">
        <a href="#photo3" class="nav-link text-dark font-weight-bold" data-toggle="tab">終了済のタスク</a>
      </li>
      <li class="nav-item">
        <a href="#photo4" class="nav-link text-dark font-weight-bold" data-toggle="tab">ルーム設定変更</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
      <div id="photo1" class="tab-pane active">
        <div class="field mt-3 text-center mx-auto">
          <div id ="ontask_table"><%= render "users/analysis/task", on_tasks: @on_tasks %></div>
        </div>
      </div>
      <div id="photo2" class="tab-pane">
        <div class="field">
          <%= pie_chart @all_task %>
        </div>
        <div class="field mt-3 text-center mx-auto">
          <table class="table table-light">
            <thead class="thead-dark">
              <tr>
                <th>未着手のタスク</th>
                <th>実行中のタスク</th>
                <th>終了済のタスク</th>
                <th>すべてのタスク</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @off_tasks.count %></td>
                <td><%= @on_tasks.count %></td>
                <td><%= @finished_tasks.count %></td>
                <td><%= @all_tasks.count %></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div id="photo3" class="tab-pane">
        <div class="field mt-3 text-center mx-auto">
          <div id ="finished_task_table"><%= render "users/analysis/finished_task", finished_tasks: @finished_tasks %></div>
        </div>
      </div>
      <div id="photo4" class="tab-pane">
        <div class="field mt-3 text-center mx-auto">
          <%= form_with model: @room, url: main_path(@room.id), local:true do |f| %>
            <div class="field mt-4">
              <strong>ルーム名(1~20文字)</strong>
            </div>
            <div class="field mt-2">
              <%= f.text_field :name, placeholder:"ルーム名" %>
            </div>
            <div class="field mt-4">
              <strong>ルームの目標</strong>
            </div>
            <div class="field mt-2">
              <%= f.text_field :goal, placeholder:"ルームの目標" %>
            </div>
            <div class="actions mt-4">
              <%= f.submit "変更を保存", class:"btn btn-lg btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
