<p class="text-center text-danger">
  <% if flash[:alert] %>
    ログインできません。ニックネーム・メールアドレス・パスワードをお確かめください。
  <% end %>
  <%= flash[:notice] %>
</p>
<div class = "container">
  <div class ="row mt-3">
    <div class ="col text-center mx-auto">
      <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>
        <div class="field"><h1><strong>ログイン</strong></h1></div>
        <div class="field mt-4">
          <%= f.text_field :name, autofocus: true, placeholder:"ニックネーム" %>
        </div>
        <div class="field mt-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
        </div>
        <div class="field mt-4">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %>
        </div>
        <div class="actions mt-4">
          <%= f.submit "ログイン", class:"btn btn-lg btn-success" %>
        </div>
      <% end %>
      <div class ="field mt-5 font-weight-bold">
        タスクんのご利用ははじめてですか？
      </div>
      <div class="action">
        <%= link_to "アカウントを作成する", new_user_registration_path, class:"btn btn-info" %>
      </div>
      <div class="field mt-4 font-weight-bold">
        アカウントを登録せずにログインできます
      </div>
      <div class="action">
        <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class:"btn btn-warning", data:{confirm: " [確認]ゲストログインではメールアドレスとパスワードが自動で生成されます"} %>
      </div>
    </div>
  </div>
</div>

