<h1>Users::Contacts#index</h1>
お問い合わせ一覧<br>

<% @contacts.each do |contact| %>
  <%= contact.title %>
  <%= contact.body %>
  <%= contact.is_read %>
  <%= contact.created_at %><br>
<% end %>

<%= link_to "お問い合わせ新規作成", new_contact_path %>