<div class = "container">
  <div class ="row mt-3">

    <div class ="col-6 text-center">
      <%= form_with model: @room, url: rooms_path, method: :post, local:true do |f| %>
        <div class="field"><h1><strong>ルーム新規作成</strong></h1></div>
        <div class="field mt-4">
          <%= f.text_field :name, placeholder:"ルーム名" %>
        </div>
        <div class="field mt-4">
          <%= f.text_field :goal, placeholder:"ルームの目標 (空欄でも可)" %>
        </div>
        <div class="field mt-4">
          <%= f.password_field :roompass, placeholder:"ルームのパスワード" %>
        </div>
        <div class="field mt-4">
          <%= f.password_field :roompass_confirmation, placeholder:"ルームのパスワード(再確認)" %>
        </div>
        <div class="actions mt-4">
          <%= f.submit "ルームを作成", class:"btn btn-lg btn-info" %>
        </div>
      <% end %>
    </div>

    <div class="col-6 text-center">
      <%= form_with url: search_room_path, method: :get, local:true do |f| %>
        <div class="field"><h1><strong>ルーム検索</strong></h1></div>
        <div class="field mt-3">
          一度参加したルームにつきましては<br>
          マイページに登録されておりますので、<br>
          そちらをご活用ください。(別途ルームパスワードは必要です)
        </div>
        <div class="field mt-3">
          <%= f.number_field :search_room, min: 1, max: @rooms.count, placeholder:"ルームID" %>
        </div>
        <div class="field mt-3">
          <strong>(注意)</strong><br>
          無効となったルームは検索することができません。<br>
          上記の場合、このページにリダイレクトされます。<br>
          あらかじめご了承ください。
        </div>

        <div class="actions mt-4">
          <%= f.submit "ルームを検索", class:"btn btn-lg btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
