<h1>Users::Rooms#show</h1>
ルームに参加する<br>

<%= @room.id %>
<%= @room.name %>
<%= @room.user.name %>
<%= form_with url: room_path, method: :patch, local:true do |f| %>
  <%= f.label :roomkey %>
  <%= f.text_field :roomkey %>
<% end %>

