<h1>Users::Lists#new</h1>
<h1>使用しないよてい</h1>
TODOリスト新規作成

<%= form_with model: @task, url: lists_path, method: :post,  local:true do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :importance %><br>
    <%= f.radio_button :importance, "HIGH" %>HIGH<br>
    <%= f.radio_button :importance, "MIDDLE", checked: true %>MIDDLE<br>
    <%= f.radio_button :importance, "LOW" %>LOW
  </div>
  <%= f.submit "TODOリストを作成" %>
<% end %>
