
<div class = "container">

  <div class = "row">
    <div class = "col-6 mx-auto">
      <div class = "mx-auto text-center"><h1>アカウント作成</h1></div>
    </div>
  </div>

  <div class = "row">
    <div class ="col-4 mx-auto text-center">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="field mt-3">
        <%= f.label :name %>名前<br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>

    <% end %>
    </div>
  </div>

</div>

