
<div class = "container">
  <div class ="row mt-3">
    <div class ="col text-center mx-auto">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field"><h1><strong>アカウント作成</strong></h1></div>
        <div class="field mt-4">
          <%= f.text_field :name, autofocus: true, placeholder:"ニックネーム(3文字以上)" %>
        </div>

        <div class="field mt-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
        </div>

        <div class="field mt-4">
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(6文字以上)" %>
        </div>

        <div class="field mt-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード再確認" %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "新規登録", class:"btn btn-lg btn-primary" %>
        </div>
      <% end %>
        <div class ="field mt-5 font-weight-bold">
          アカウントをお持ちですか？
        </div>
        <div class="action">
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-success" %>
        </div>
        <div class="field mt-4 font-weight-bold">
          アカウントを登録せずにログインできます
        </div>
        <div class="action">
          <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class:"btn btn-warning" %>
        </div>
    </div>
  </div>
</div>

